{% comment %}
  Ejemplo de estructura de datos para las reviews:
  reviews = [
    {
      "imagen": "url_de_la_imagen_1",
      "nombre": "Usuario1",
      "estrellas": 4,
      "comentario": "Este producto es increíble. ¡Lo recomiendo altamente!"
    },
    {
      "imagen": "url_de_la_imagen_2",
      "nombre": "Usuario2",
      "estrellas": 5,
      "comentario": "¡Simplemente perfecto! No podría estar más feliz con mi compra."
    },
    {
      "imagen": "url_de_la_imagen_3",
      "nombre": "Usuario3",
      "estrellas": 3,
      "comentario": "Buen producto, aunque esperaba un poco más por el precio."
    }
  ]
{% endcomment %}

{% for review in section.blocks %}
  {% for comentario in review.settings %}
  {{ comentario }}
  <div class="review">
    <div class="review-img">
      <img src="{{ review.imagen }}" alt="Imagen de la review">
    </div>
    <div class="review-info">
      <h3>{{ review.nombre }}</h3>
      <div class="stars">
        <span class="star">{{ review.estrellas }}&#9733;</span>
      </div>
      <p>{{ review.comentario }}</p>
    </div>
  </div>
  {% endfor %}
{% endfor %}

{% schema %}
{
  "name": "Review",
  "tag": "section",
  "class": "slideshow",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "comentario",
      "label": "Comentario",
      "info" : "Comentario info"
    }
  ],
  "blocks": [
     {
       "name": "comentario",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         },
         {
            "type": "text",
            "id": "Nombre",
            "label": "Nombre"
          },
         {
            "type": "textarea",
            "id": "comentario",
            "label": "comentario"
        },
         {
          "type": "number",
          "id": "estrellas",
          "label": "estrellas"
        }
       ]
     }
  ],
  "presets": [
    {
      "name": "Review",
      "blocks": [
        {
        "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}
